body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
}

p {
  line-height: 1.6;
}

h1, p {
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

main {
  max-width: 800px;
  margin: 24px auto;
  padding: 0 16px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  overflow: auto;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background-color: #bebebe;
  min-height: 25px;
  min-width: 25px;
  border: 1px solid #e0e0e0;
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7;
  border: 1px solid #efefef;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@media (min-width: 576px) {
  main {
    margin: 42px auto;
  }
}

@keyframes menu-show {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// toast

#toast-container {
  position: fixed;
  transform: translateX(-50%);
  z-index: 100;
  .toast {
    background-color: rgba($color: white, $alpha: 0.8);
    border: 1px solid whitesmoke;
    padding: 4px 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 8px 16px;
    min-width: 200px;
    opacity: 0;
    transform: translateY(0);
    transition: all 0.5s;
    position: relative;
    backdrop-filter: blur(4px);
    box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.1);
  }
  .toast.show {
    opacity: 1;
    transform: translateY(20px);
  }
}
